.task-form {
    display: flex;
    max-width: 500px;
    margin: 0 auto 1.5em;
}

.task-form-input {
    font-size: 1.5em;
    width: 100%;
    height: var(--controls-size);
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid var(--border-color);
}

.task-form-btn {
    width: var(--controls-size);
    height: var(--controls-size);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    cursor: pointer;
    color: var(--controls-color);
    transition: background-color .2s, color .2s;
    border: 1px solid var(--border-color);
    background: white;
    border-left: none;
}

.task-form-btn:hover {
    color: white;
    background-color: #0075ff;
}

.task-form-btn span {
    font-size: 5em;
    line-height: 0;
}